@font-face {
  font-display: swap;
  font-family: "CartographCF";
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/cartographcf-light.woff2") format("woff2"), url("../fonts/cartographcf-light.woff") format("woff");
}

@font-face {
  font-display: swap;
  font-family: "CartographCF";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/cartographcf-demibold.woff2") format("woff2"), url("../fonts/cartographcf-demibold.woff") format("woff");
}
